# Flask==2.0.3
# pandas==1.3.3  # Utilisé pour générer le CSV
# matplotlib==3.4.3  # Utilisé pour la visualisation, mais Chart.js suffira pour le frontend

Flask
pandas  # Utilisé pour générer le CSV
matplotlib  # Utilisé pour la visualisation, mais Chart.js suffira pour le frontend
